[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
alembic = "*"
pytest = "*"
pytest-cov = "*"
coveralls = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
